body
{
    background-image: url('../images/michael-mroczek-440382-unsplash.jpg');
    background-size: cover;
}

#mainList
{
    margin: 0, 0, 0, 50;
    background-color: cornsilk;
    width: 66%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    vertical-align: middle;
}